.medical-cases{
    width: 1400px;
    background-color: white;
    box-shadow: 5px 5px 0px rgba(80, 79, 79, 0.315);
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
}

.medical-cases:hover{    
    transform: translateX(15px); 
    background-color: #204e80;
    box-shadow: 5px 5px 0px #0d2e52; 
    color: white;
}

.medical-cases:hover .status{
    color: black;
}

.medical-cases:hover .data-cases label{
    color: white;
}

.medical-cases:active {
    background-color: #6595c9;
    color: #002752;
    box-shadow: 5px 5px 0px #1f4c7c;     
}

.data-cases{
    display: flex;    
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

span{    
    padding: 2px;
}

.data-cases label{
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #204e80;
}

.status{
    display: flex;    
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    min-width: 200px;
    font-size: 15px;
    background-color: orange;
    border-radius: 15px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}